# Python
__pycache__/
*.py[cod]
*$py.class

#Development Testing
mock_etc/

# Environments
.env
.venv
venv/
env/
tests/
.snapshots/
.pytest_cache/

# Databases
*.db
*.sqlite3

# Local development scripts
stamp-version.ps1

