/* Main application grid */
#app-grid {
    layout: horizontal;
    background: $surface;
}

/* Left pane for menu */
#menu-pane {
    width: 35;
    padding: 1;
    border: solid $primary-lighten-2;
}

#menu-title {
    content-align: center middle;
    width: 100%;
    background: $primary;
    color: $text;
}

Menu {
    padding-top: 1;
    width: 100%;
}

Menu > Button {
    width: 100%;
    margin-bottom: 1;
    border: none;
    background: $primary-darken-2;
}

Menu > Button:hover {
    background: $primary-lighten-2;
    color: black;
}

#back-button {
    width: 100%;
    margin-top: 1;
    background: $error;
    border: none;
}

#back-button:hover {
    background: $error-darken-2;
}

/* Right pane for stats */
#stats-pane {
    border: solid $primary-lighten-1;
    padding: 1;
}

Header {
    background: $primary;
    color: $text;
    text-style: bold;
}

Footer {
    background: $primary-darken-2;
}
