{% extends "base.html" %}

{% block title %}IP Allocations{% endblock %}

{% block content %}
    <h1>IP Address Allocations</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>IP Address</th>
                <th>Client</th>
                <th>Pool</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for alloc in allocations %}
            <tr>
                <td>{{ alloc.id }}</td>
                <td>{{ alloc.ip_address }}</td>
                <td>{{ alloc.client_name }}</td>
                <td>{{ alloc.pool_name }}</td>
                <td>{{ alloc.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/network/pools" class="button">Back to Pools</a>
{% endblock %}
