{% extends "base.html" %}

{% block title %}{{ view.name }}{% endblock %}

{% block content %}
    <h1>{{ view.name }}</h1>
    {# Add action buttons here if defined #}
    <table>
        <thead>
            <tr>
                {% for col in view.columns %}
                    <th>{{ col.label }}</th>
                {% endfor %}
                {% if view.actions %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                {% for col in view.columns %}
                    <td>{{ item[col.key] }}</td>
                {% endfor %}
                {% if view.actions %}
                    <td>
                        {% for action in view.actions %}
                            {% if action.name == "View Configs" %}
                                <a href="{{ url_for('view_client_configs', client_id=item.id) }}" class="action-button">{{ action.name }}</a>
                            {% else %}
                                <a href="{{ url_for('render_page', path=action.path.lstrip('/')) }}?id={{ item.id }}" class="action-button">{{ action.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
