{% extends "base.html" %}

{% block title %}IP Pools{% endblock %}

{% block content %}
    <h1>IP Pools</h1>
    <a href="/network/pools/add" class="button">Add New IP Pool</a>
    <a href="/network/allocations" class="button">List All Allocations</a>
    <a href="/network/find-free-ip" class="button">Find Free IP</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address Family</th>
                <th>CIDR</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for pool in pools %}
            <tr>
                <td>{{ pool.id }}</td>
                <td>{{ pool.name }}</td>
                <td>{{ pool.afi }}</td>
                <td>{{ pool.cidr }}</td>
                <td>{{ pool.description }}</td>
                <td>
                    <a href="/network/pool/{{ pool.id }}/edit">Edit</a> |
                    <a href="/network/pool/{{ pool.id }}/delete" onclick="return confirm('Are you sure you want to delete this pool?');">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
